@charset "utf-8";

.index-container{
	width:1100px;
	margin:0 auto;
}

.index-footer{
	background-color: #3b3b3b;
	height:216px;
	padding-top:60px;
	margin-bottom: -20px;
}

.index-footer .footer-col{
	float:left;
	margin-right:45px;
	width:240px;
	font-size:16px;
	color:#fff;
	line-height: 1.8;
}

.index-footer .footer-col:last-child{
	margin-right:0;
}

.footer-col a{
	color:#fff;
	text-decoration: none;
}

.footer-logo{

}

.sideMenu{
	margin-bottom: -10px;
}

.sideList{
	height:670px;
	overflow-y: scroll;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}

.side-buttongroup{
	position:fixed;
	bottom: 0;
	width:100%;
	height:54px;
	padding-top: 10px;
	background-color: #fff;
	border-top:1px solid silver;
	z-index: 2;
}

.side-buttongroup .btn-info:first-child{
	margin-left:20px;
	margin-right:20px;
	width:80px;
}

/*.sideList .combtn-group{
	margin-top:-15px;
	margin-bottom: 10px;
}

.sideList .combtn-group .btn:first-child{
	margin-left:30px;
	margin-right:35px;
}*/

.user{
	position:relative;
}

.user .user-img:hover{
	filter:alpha(Opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
}

.user .user-close{
	position:absolute;
	top:10px;
	right:10px;
	border:1px solid #fff;
	color:#000;
	cursor: pointer;
}

.user .user-close:hover{
	border-color: silver;
}

.side-table{
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
}

.fly-car{
	display: none;
}

