@charset "utf-8";

.index-container{
	width:1100px;
	margin:0 auto;
}

.index-footer{
	background-color: #3b3b3b;
	height:216px;
	padding-top:60px;
	margin-bottom: -20px;
}

.index-footer .footer-col{
	float:left;
	margin-right:45px;
	width:240px;
	font-size:16px;
	color:#fff;
	line-height: 1.8;
}

.index-footer .footer-col:last-child{
	margin-right:0;
}

.footer-col a{
	color:#fff;
	text-decoration: none;
}

.footer-logo{

}

.sideMenu{
	margin-bottom: -10px;
}

.sideList{
	height:660px;
	overflow-y: scroll;
}

.button-group{
	position:fixed;
	bottom: 0;
	width:100%;
	height:54px;
	padding-top: 10px;
	background-color: #fff;
	border-top:1px solid silver;
	z-index: 2;
}

.button-group .btn:first-child{
	margin-left:20px;
	margin-right:25px;
	width:80px;
}

.sideList .combtn-group{
	margin-top:-15px;
	margin-bottom: 10px;
}

.sideList .combtn-group .btn:first-child{
	margin-left:30px;
	margin-right:35px;
}
