@{
    ViewBag.Title = "关于";
    Layout = "~/Views/Shared/_BgImageLayout.cshtml";
}
<div>
    <form id="ajax-upload-form" method="post">
        <input type="text" name="machineType" value=""/>
        <input type="text" name="mainType" value="" />
        <input type="text" name="detailType" />
        <input type="file" name="file" value="" id="file" formenctype="multipart/form-data"/>
    </form>
    <button id="button">提交</button>
</div>
<div>  
    <img id="upload-image" src="" width="80" height="120" />
</div>
@section scripts{ 
    <script src="~/App/scripts/others/sendAjax.js"></script>
}


