@{
    ViewBag.Title = "主页";
}
@section css{
<link rel="stylesheet" href="~/App/CSS/Home/Index.css" type="text/css" />
}

<div class="carousel slide" id="home-index-cover" data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="#home-index-cover" data-slide-to="0" class="active"></li>
        <li data-target="#home-index-cover" data-slide-to="1" class=""></li>
        <li data-target="#home-index-cover" data-slide-to="2" class=""></li>
        <li data-target="#home-index-cover" data-slide-to="3" class=""></li>
        <li data-target="#home-index-cover" data-slide-tp="4" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" id="home-index-cover1" >
            <img src="~/Assets/Cover/CNC.jpg" alt="数控机床" />
        </div>
        <div class="item" id="home-index-cover2">
            <img src="~/Assets/Cover/driver.jpg" alt="伺服驱动" />
        </div>
        <div class="item" id="home-index-cover3">
            <img src="~/Assets/Cover/machine.jpg" alt="机械部件"/>
        </div>
        <div class="item" id="home-index-cover4">
            <img src="~/Assets/Cover/motor.jpg" alt="电机"/>
        </div>
        <div class="item" id="home-index-cover5">
            <img src="~/Assets/Cover/system.jpg" alt="数控系统" />
        </div>
    </div>
    <a class="left carousel-control" href="#home-index-cover" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" id="home-index-cover-prev-arrow"></span>
    </a>
    <a class="right carousel-control " href="#home-index-cover" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" id="home-index-cover-next-arrow"></span>
    </a>
</div>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>