@{
    Layout = "~/Views/Shared/_LayoutPage_Data.cshtml";
}

@section css
{
    <link href="~/App/CSS/CNCData/Index.css" type="text/css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript" src="~/App/Scripts/CNCData/Index.js"></script>
}
<div>
    <h3 class="desc-header desc-header-open" id="desc-header-1">进给伺服电机简介</h3>
    <div class="row desc-body desc-body-open" id="desc-body-1">
        <div class="col-sm-4 motor-desc">
            <p>数控机床的分类:</p>
            <p>(1)进给轴伺服电机</p>
            <p>(2)主轴伺服电机</p>
            <img src="~/Assets/Motors/伺服电机-介绍.jpg" />
        </div>
        <div class="col-sm-8 motor-desc">
            <p>数控机床对进给伺服电机的要求：</p>
            <p>(1)机械特性:要求伺服电机的速降小、刚度大;</p>
            <p>(2)快速响应的要求:这在轮廓加工，特别对曲率大的加工对象进行高速加工时要求较严格;</p>
            <p>(3)调速范围:这可以使数控机床适用于各种不同的刀具、加工材质;适应于各种不同的加工工艺;</p>
            <p>(4)一定的输出转矩，并要求一定的过载转矩。机床进给机械负载的性质主要是克服工作台的摩擦力和切削的阻力，因此主要是恒转矩的性质。</p>
            <br />
            <p style="text-indent:0">数控机床对主轴电机的要求：</p>
            <p>(1)足够的输出功率，数控机床的主轴负载性质近似于恒功率，也就是当机床的主轴转速高时，输出转矩较小;主轴转速低时，输出转矩大;即要求主轴驱动装置要具有恒功率的性质;</p>
            <p>(2)调速范围:为保证数控机床适用于各种不同的刀具、加工材质;适应于各种不同的加工工艺，要求主轴电机具有一定的调速范围。但对主轴的要求比进给低;</p>
            <p>(3)速度精度:一般要求静差度小于5 ％，更高的要求为小于1％;</p>
            <p>(4)快速:主轴驱动装置有时也用在定位功能上，这就要求它也具有一定的快速性。</p>
        </div>
    </div>

    <h3 class="desc-header" id="desc-header-2">伺服驱动器简介</h3>
    <div class="row desc-body" id="desc-body-2">
        <div class="col-sm-12" id="servo-desc-img">
            <img src="~/Assets/Servo/电机驱动-介绍.jpg" />
        </div>
        <div class="col-sm-6 servo-desc">
            <p>
                伺服驱动器（servo drives）又称为“伺服控制器”、“伺服放大器”，是用来控制伺服电机的一种控制器，其作用类似于变频器作用于普通交流马达，属于伺服系统的一部分，主要应用于高精度的定位系统。一般是通过位置、速度和力矩三种方式对伺服马达进行控制，实现高精度的传动系统定位，目前是传动技术的高端产品。
            </p>
            <p style="text-indent:0">对电机的要求:</p>
            <p>(1)从最低速到最高速电机都能平稳运转，转矩波动要小，尤其在低速如0.1r/min或更低速时，仍有平稳的速度而无爬行现象；</p>
            <p>(2)电机应具有大的较长时间的过载能力，以满足低速大转矩的要求。一般直流伺服电机要求在数分钟内过载4～6倍而不损坏；</p>
            <p>(3)为了满足快速响应的要求，电机应有较小的转动惯量和大的堵转转矩，并具有尽可能小的时间常数和启动电压；</p>
            <p>(4)电机应能承受频繁启、制动和反转。</p>
        </div>
		<div class="col-sm-6 servo-desc">
            <p style="text-indent:0">对伺服进给系统的要求：</p>
            <p>(1)调速范围宽；</p>
            <p>(2)定位精度高；</p>
            <p>(3)有足够的传动刚性和高的速度稳定性；</p>
            <p>
                (4)快速响应，无超调
                为了保证生产率和加工质量，除了要求有较高的定位精度外，还要求有良好的快速响应特性，即要求跟踪指令信号的响应要快，因为数控系统在启动、制动时，要求加、减加速度足够大，缩短进给系统的过渡过程时间，减小轮廓过渡误差；
            </p>
            <p>
                (5)低速大转矩，过载能力强
                一般来说，伺服驱动器具有数分钟甚至半小时内1.5倍以上的过载能力，在短时间内可以过载4～6倍而不损坏；
            </p>
            <p>
                (6)可靠性高
                要求数控机床的进给驱动系统可靠性高、工作稳定性好，具有较强的温度、湿度、振动等环境适应能力和很强的抗干扰的能力。
            </p>
        </div>

    </div>

    <h3 class="desc-header" id="desc-header-3">数控系统简介</h3>
    <div class="row desc-body" id="desc-body-3">
        <p>内容待填</p>
    </div>

    <h3 class="desc-header" id="desc-header-4">滚动轴承简介</h3>
    <div class="row desc-body" id="desc-body-4">
        <p>内容待填</p>
    </div>

    <h3 class="desc-header" id="desc-header-5">联轴器简介</h3>
    <div class="row desc-body" id="desc-body-5">
        <p>内容待填</p>
    </div>

    <h3 class="desc-header" id="desc-header-6">导轨简介</h3>
    <div class="row desc-body" id="desc-body-6">
        <p>内容待填</p>
    </div>

    <h3 class="desc-header" id="desc-header-7">滚珠丝杠螺母副简介</h3>
    <div class="row desc-body" id="desc-body-7">
        <p>内容待填</p>
    </div>

    <h3 class="desc-header" id="desc-header-8">回转工作台简介</h3>
    <div class="row desc-body" id="desc-body-8">
        <p>内容待填</p>
    </div>

    <h3 class="desc-header" id="desc-header-9">齿轮简介</h3>
    <div class="row desc-body" id="desc-body-9">
        <p>内容待填</p>
    </div>

    <h3 class="desc-header" id="desc-header-10">蜗轮蜗杆简介</h3>
    <div class="row desc-body" id="desc-body-10">
        <p>内容待填</p>
    </div>

    <h3 class="desc-header" id="desc-header-11">带传动简介</h3>
    <div class="row desc-body" id="desc-body-11">
        <p>内容待填</p>
    </div>
</div>

