
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutPage_Data.cshtml";
}

@section css{
    <link href="~/App/CSS/ngViews/list.css" type="text/css" rel="stylesheet" />    
}

@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/App/Scripts/ngViews/AligningBallBearings/AligningBallBearings.js"></script>
    <script src="~/App/Scripts/ngViews/AligningBallBearings/ListController.js"></script>
}


<div class="col-sm-10 col-xs-12">
    <div data-ng-app=@(ViewData["viewname"])>
        <ng-view></ng-view>
    </div>
</div>

