<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewData["Title"] - 数控机床数据中心</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Shared/_BgImageLayout.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Shared/_BgImageLayout.css" asp-append-version="true" />
    </environment>
    @RenderSection("css", required: false)
</head>
<body>
    <div class="navbar navbar-fixed-top" id="navbar" style="background:none">
        <div class="container navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    @*data-toggle表示collapse时生效 data-target表示折叠的对象*@
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--以下链接可以用html辅助函数来防止被攻击-->
                <a href="/" class="navbar-brand home-index-nav-link" area=""><span></span>数控机床数据管理</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index" class="home-index-nav-link" role="navigation"><span>主页</span></a></li>
                    <li><a asp-controller="CNCData" asp-action="Index" class="home-index-nav-link" role="navigation"><span>查看数据</span></a></li>
                    <li><a asp-controller="Home" asp-action="About" class="home-index-nav-link" role="navigation"><span>关于</span></a></li>
                    <li><a asp-controller="Home" asp-action="Contact" class="home-index-nav-link" role="navigation"><span>联系我们</span></a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required:false)
</body>
</html>
