
@{ 
    ViewBag.Title = "数据";
    Layout = "~/Views/Shared/_DataLayout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/css/CNCData/List.css" />
    <link rel="stylesheet" href="~/css/ngViews/list.css" />
}

@section scripts{
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-route.js"></script>
    <script src="~/lib/angular/angular-animate.js"></script>
    <script src="~/js/ngViews/@(ViewData["viewname"])/ModuleConfig.js"></script>
    <script src="~/js/ngViews/@(ViewData["viewname"])/ListController.js"></script>
}

<div class="list-content">
    <div data-ng-app=@(ViewData["viewname"])>
        <ng-view></ng-view>
    </div>
</div>