* {
    font-family:'Microsoft YaHei';
    font-size:16px;
    margin:0;
    padding:0;
}
body {
    background-color:none;
    background-image: url("../../images/Home/login-bg.png");
    background-size:100%;
    background-repeat:no-repeat;
}

/*#region 顶部导航栏的css */
div.navbar {
    border:none;
}

.navbar-header a{
    font-size:16px;
    font-weight:bold;
    color:white;
    letter-spacing:2px;
}

a.home-index-nav-link{
    margin-top:auto;
    margin-bottom:auto;
    vertical-align:central;
    font-size:16px;
    color:white;
    font-weight:bold;
    letter-spacing:2px;
}

a.home-index-nav-link :visited{
    background-color: transparent;
}

ul.navbar-nav li >a{ color: white;}

ul.navbar-nav li :hover{
    color:lightgray;
    background-color:transparent; 
}


a.navbar-brand { 
    font-size:16px;
    font-weight:bold;
    color:white;
    letter-spacing:2px;
}

a.navbar-brand :hover{ color: lightgray;}

/*#endregion */
