* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:16px;
    margin:0;
    padding:0;
}

#register-block {
    display:block;
    width:30%;
    max-width: 320px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
    margin-bottom:auto;
    padding:20px;
    border-radius:6px;
    background-color: white;
}

#register-block input[type=submit]{
    font-size: 18px;
    font-weight:600;
    padding: 6px 12px;
    margin:0;
    cursor:not-allowed;
}

#register-block input[type=submit]:hover{
    cursor:not-allowed;
}

#register-icon p{
    text-align:center;
}

#register-icon p:first-child{
    font-size:20px;
    font-weight:600;
    letter-spacing:2px;
}

#register-icon p:last-child
{
    font-size:18px;
    font-weight:600;
    letter-spacing:1px;
    color:#555;
}

#register-desc{
    font-size:16px;
    letter-spacing:1px;
    color: #555;
    text-indent: 35px;
}