@model CNCDataManager.Models.IndexViewModel
@{
    Layout = "~/Views/Shared/_LayoutPage_Data.cshtml";
    ViewBag.Title = "账户管理";
}
@section css{
    <link rel="stylesheet" href="~/App/CSS/Manage/Index.css" />
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/App/Scripts/Manage/Index.js"></script>
}
<div class="layout-header">
    <div class="container">
        <h1>账户</h1>
        <p>管理，修改您的密码、电话认证、两步验证和权限授予等。</p>
    </div>
</div>

<div class="full-wide-body-content">
    <div class="side-nav-container" id="side-nav-container">
        <nav class="account-manage-side-nav">
            <ul class="nav">
                <li>
                    <a href="#SetPassword">修改密码</a>
                </li>
                <li><a href="#SetPhoneNumber">修改电话号码</a></li>
                <li><a href="#SetEmailAddr">修改注册邮箱</a></li>
                <li><a href="#SetAuthorization">授予权限</a></li>
            </ul>
        </nav>
    </div>

    <div class="index-content">
        <div class="row form-block" id="SetPassword-div">
            <div class="col-xs-4">
                <p>修改您的密码</p>
            </div>
            <div class="col-xs-8">
                <form  action="/Account/SetPassword" method="post" role="form" novalidate="novalidate" id="SetPasswordForm">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger", style = "font-size: 14px" })
                    <div class="form-group">
                        <input class="form-control" id="PrePassword" name="PrePassword" placeholder="原始密码" type="password"
                               data-val="true" data-val-length="原始密码 至少得有6个字符" data-val-length-min="6" data-val-length-max="100" data-val-required="原始密码 必须填写"
                               aria-required="true" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="Password" name="Password" placeholder="新密码" type="password"
                               data-val="true" data-val-length="新密码 至少得有6个字符" data-val-length-min="6" data-val-length-max="100" data-val-required="新密码 必须填写"
                               aria-required="true" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="ComfirmPassword" name="ComfirmPassword" placeholder="确认密码" type="password" aria-required="true"
                               data-val="true" data-val-equalto="新密码和确认密码不匹配" data-val-equalto-other="*.Password" />
                    </div>
                    <div class="form-group">
                        <input class="form-control btn btn-lg btn-success" value="修改" type="submit" />
                    </div>
                </form>

            </div>
        </div>
        
        <hr />


    </div>
</div>

