<!-- 加载动画 -->
<div class="overlay-container" ng-show="ifLoading">
    <button type="button" class="close" ng-click="messageTips.hideLoading()">&times;</button>
    <h2 class="text-center">Loading...</h2>
    <div class="text-center">
        <span id="update-msg"></span>
        <span id="error-msg"></span>
    </div>
    <div title='loading...' id="loading-animation"></div>
</div>
<!-- 出错动画 -->
<div class="overlay-container" ng-show="ifError">
    <button type="button" class="close" ng-click="messageTips.hideError()">&times;</button>
    <h2 class="text-center">操作出错</h2>
    <div class="text-center" title="error..." id="errorMsg"></div>
</div>

<!-- 巨幕标题 -->
<div class="layout-header">
    <div class="container">
        <h1>数据</h1>
        <p>详尽、包括伺服电机、伺服驱动、数控系统和机械部件等各项数据。</p>
    </div>
</div>

<div class="full-wide-body-content">
    <!-- 侧边导航 -->
    <div class="side-nav-container" id="side-nav-container">
        <div class="cncdata-side-bar">
            <div class="side-bar-title">
                <h4>数控机床分类索引</h4>
            </div>
            <ul class="side-nav-head-1">
                <li>
                    <div class="side-nav-icon-bar">
                        <span id="nav-icon-motor" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleNav($event, '#nav-motor-ul')"></span>
                        <a href="#/CNCData/List?listname=ServoMotorOfPMSACFS">伺服电机</a>
                    </div>
                    <ul id="nav-motor-ul" class="side-nav-head-2">
                        <li><a href="#/CNCData/List?listname=ServoMotorOfPMSACFS">永磁同步交流电机</a></li>
                        <li><a href="#/CNCData/List?listname=ServoMotorOfSpindle">主轴伺服电机</a></li>
                        <li><a href="#/CNCData/List?listname=StepperMotor">步进电机</a></li>
                        <li><a href="#/CNCData/List?listname=ElectricSpindle">电主轴</a></li>
                    </ul>
                </li>
                <li>
                    <div class="side-nav-icon-bar">
                        <span id="nav-icon-driver" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleNav($event, '#nav-driver-ul')"></span>
                        <a href="#/CNCData/List?listname=DriverOfServoMotorOfPMSACFS">伺服驱动器</a>
                    </div>
                    <ul id="nav-driver-ul" class="side-nav-head-2">
                        <li><a href="#/CNCData/List?listname=DriverOfServoMotorOfPMSACFS">同步交流电机驱动器</a></li>
                        <li><a>异步交流电机驱动器</a></li>
                        <li><a>步进电机驱动器</a></li>
                        <li><a>电主轴驱动器</a></li>
                    </ul>
                </li>
                <li>
                    <div class="side-nav-icon-bar">
                        <span id="nav-icon-system" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleNav($event, '')"></span>
                        <a href="#/CNCData/List?listname=NCSystem">数控系统</a>
                    </div>
                </li>
                <li>
                    <div class="side-nav-icon-bar">
                        <span id="nav-icon-mech" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleNav($event, '#nav-mech-ul')"></span>
                        <a href="#/cncdata/list?listname=AligningBallBearings">机械传动部件</a>
                    </div>
                    <ul id="nav-mech-ul" class="side-nav-head-2">
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-coupling" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-coupling-ul')"></span>
                                <a href="#/CNCData/List?listname=BrakeWheelElasticSleevePinCoupling">联轴器</a>
                            </div>
                            <ul id="nav-mech-coupling-ul" class="side-nav-head-3">
                                <li><a href="#/CNCData/List?listname=FlangeCoupling">凹缘式联轴器</a></li>
                                <li><a href="#/CNCData/List?listname=OldhamCoupling">十字滑块联轴器</a></li>
                                <li><a href="#/CNCData/List?listname=GearCoupling">齿式联轴器</a></li>
                                <li><a href="#/CNCData/List?listname=BrakeWheelElasticSleevePinCoupling">带制动套柱销联轴器</a></li>
                                <li><a href="#/CNCData/List?listname=FlexiblePinCoupling">弹性柱销联轴器</a></li>
                                <li><a href="#/CNCData/List?listname=ElasticSleevePinCoupling">弹性套柱销联轴器</a></li>
                                <li><a href="#/CNCData/List?listname=PlumShapedFlexibleCoupling">梅花弹性联轴器</a></li>
                                <li><a href="#/CNCData/List?listname=HubShapedCouplings">轮毂型联轴器</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-bearing" class="glyphicon glyphicon-minus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-bearing-ul')"></span>
                                <a href="#/CNCData/List?listname=AligningBallBearings">滚动轴承</a>
                            </div>
                            <ul id="nav-mech-bearing-ul" class="side-nav-head-3">
                                <li><a href="#/cncdata/list?listname=AngularContactBallBearings">角接触球轴承</a></li>
                                <li><a href="#/cncdata/list?listname=DeepGrooveBallBearings">深沟球轴承</a></li>
                                <li><a href="#/cncdata/list?listname=TaperedRollerBearings">圆锥滚子轴承</a></li>
                                <li><a href="#/cncdata/list?listname=CylindricalRollerBearings">圆柱滚子轴承</a></li>
                                <li><a href="#/cncdata/list?listname=AligningRollerBearings">调心滚子轴承</a></li>
                                <li><a href="#/cncdata/list?listname=AligningBallBearings">调心球轴承</a></li>
                                <li><a href="#/cncdata/list?listname=BallLeadScrewSupportBearings">滚珠丝杠支撑轴承</a></li>
                                <li><a href="#/cncdata/list?listname=CrossTaperedRollerBearings">交叉圆锥滚子轴承</a></li>
                                <li><a href="#/cncdata/list?listname=DoubleRowCylindricalRollerBearings">双列圆柱滚子轴承</a></li>
                                <li><a href="#/cncdata/list?listname=DoubleThrustAngularContactBallBearings">双向推力角接触球轴承</a></li>
                                <li><a href="#/cncdata/list?listname=NeedleRollerAndThrustRollerBearings">滚针轴承和推力滚子组合轴承</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-guide" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-guide-ul')"></span>
                                <a href="#/CNCData/List?listname=LinearRollingGuide">导轨</a>
                            </div>
                            <ul id="nav-mech-guide-ul" class="side-nav-3-hide">
                                <li><a>普通滑动导轨</a></li>
                                <li><a href="#/CNCData/List?listname=LinearRollingGuide">直线滚动导轨</a></li>
                                <li><a>贴塑导轨</a></li>
                                <li><a>注塑导轨</a></li>
                                <li><a>静压导轨</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-screw" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-screw-ul')"></span>
                                <a href="#/CNCData/List?listname=SolidBallScrewNutPairs">滚珠丝杠</a>
                            </div>
                            <ul id="nav-mech-screw-ul" class="side-nav-3-hide">
                                <li><a href="#/CNCData/List?listname=SolidBallScrewNutPairs">内循环式滚珠丝杠</a></li>
                                <li><a>外循环式滚珠丝杠</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-table" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-table-ul')"></span>
                                <a href="#/CNCData/List?listname=RotaryTable">回转工作台</a>
                            </div>
                            <ul id="nav-mech-table-ul" class="side-nav-3-hide">
                                <li><a>数控回转工作台</a></li>
                                <li><a>分度回转工作台</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-gear" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-gear-ul')"></span>
                                <a href="#/CNCData/List?listname=SpurGear">齿轮</a>
                            </div>
                            <ul id="nav-mech-gear-ul" class="side-nav-3-hide">
                                <li><a href="#/CNCData/List?listname=SpurGear">直齿圆柱齿轮</a></li>
                                <li><a href="#/CNCData/List?listname=HelicalCylindricalGear">斜齿圆柱齿轮</a></li>
                                <li><a href="#/CNCData/List?listname=StraightBevelGear">直齿锥齿轮</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-worm" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-worm-ul')"></span>
                                <a href="#/CNCData/List?listname=ArcCylindricalWormGear">蜗轮蜗杆</a>
                            </div>
                            <ul id="nav-mech-worm-ul" class="side-nav-3-hide">
                                <li><a href="#/CNCData/List?listname=ArcCylindricalWormGear">圆弧圆柱蜗轮蜗杆</a></li>
                                <li><a href="#/CNCData/List?listname=CommonCylindricalWormGear">普通圆柱蜗轮蜗杆</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="side-nav-icon-bar">
                                <span id="nav-icon-mech-belt" class="glyphicon glyphicon-plus nav-icon" ng-click="toggleSecondNav($event, '#nav-mech-belt-ul')"></span>
                                <a>传动带</a>
                            </div>
                            <ul id="nav-mech-belt-ul" class="side-nav-3-hide">
                                <li><a>V型带</a></li>
                                <li><a>同步带</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <cncdata-index-panel ng-if="ifIndex"></cncdata-index-panel>
    <align-ball-brgs-panel ng-if="listName === 'AligningBallBearings'"></align-ball-brgs-panel>
    <align-roller-brgs-panel ng-if="listName === 'AligningRollerBearings'"></align-roller-brgs-panel>
</div>
