* {
    font-family:'Microsoft YaHei';
    font-size:16px;
    margin:0;
    padding:0;
}
body {
}

div.navbar {
    border:none;

}

.layout-header{
    height:250px;
    width: 100%;
    background: linear-gradient(30deg, #280155 0%, #5c0063 51%, #610087 75%);
    background: -webkit-linear-gradient(30deg, #280155 0%, #5c0063 51%, #610087 75%);
    background: -moz-linear-gradient(30deg, #280155 0%, #5c0063 51%, #610087 75%);
    background: -o-linear-gradient(30deg, #280155 0%, #5c0063 51%, #610087 75%);
    opacity:0.9;
}
.layout-header h1{
    text-align:left;
    font-weight:400;
    font-size:60px;
    padding-top:20px;
    margin-top: 0;
    margin-bottom:10px;
    letter-spacing:10px;
    color:white;
}

.layout-header p{
    text-align:left;
    font-size: 20px;
    font-weight:300;
    letter-spacing:2px;
    line-height:1.4;
    color:white;
}

a.home-index-nav-link{
    margin-top:auto;
    margin-bottom:auto;
    vertical-align:central;
    font-family:'Times New Roman';
    font-size:16px;
    color:white;
    font-weight:600;
    letter-spacing:2px;
}

a.home-index-nav-link :visited{
    background-color: transparent;
}

ul.navbar-nav li >a{ color: white;}

ul.navbar-nav li :hover{
    color:lightgray;
    background-color:transparent; 
}


a.navbar-brand { 
    font-size:16px;
    font-weight:bold;
    color:white;
    letter-spacing:2px;
}

a.navbar-brand :hover{ color: lightgray;}

