* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:14px;
}
body {
    background-image: url('../../../Assets/Home/login-bg.png');
    background-size:100%;
    background-repeat:no-repeat;
}