body {
}
/*伺服电机样式*/

div.motor-desc >p{
    font-size:16px;
    letter-spacing:1px;
    color: #555;
    text-indent:35px;
}
div.motor-desc >img{
    margin-top:40px;
    width: 100%;
}
div.motor-desc >p:first-child{
    text-indent: 0;
}
/*伺服电机样式结束*/
/*伺服驱动器*/
#servo-desc-img >img{
    display:block;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

.servo-desc >p{
    font-size:16px;
    letter-spacing:1px;
    color: #555;
    text-indent:35px;
}

/*伺服驱动器结束*/

/*标题*/
.desc-header{
    margin-left:20px;
    margin-right: 20px;
    margin-top:10px;
    margin-bottom:0;
    padding:5px;

    border:1px solid #bbb;
    background-color:#ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.desc-header-open{
    margin-left:20px;
    margin-right: 20px;
    margin-top:10px;
    margin-bottom:0;
    padding:5px;

    border:1px solid #bbb;
    background-color:#ccc;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    
}

.desc-header:hover{
    border-color:#4d4c4c;
    background-color:#bbbbbb;
    cursor:pointer;
}
.desc-header-open:hover
{
    border-color:#4d4c4c;
    background-color:#bbbbbb;
    cursor:pointer;
}
/*标题样式结束*/

/*主题样式*/
.desc-body{  
    display:none;
    margin-left:20px;
    margin-right: 20px;
    margin-top:0;
    margin-bottom:0;
    border: 1px solid #4d4c4c;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.desc-body-open{  
    display:block;
    margin-left:20px;
    margin-right: 20px;
    margin-top:0;
    margin-bottom:0;

    border-top:0;
    border-left:1px solid #4d4c4c;
    border-bottom:1px solid #4d4c4c;
    border-right:1px solid #4d4c4c;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
}
/*主题样式结束*/