<div ng-controller="CNCTypeCtrl">
    <div class="CNCTable">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail" ng-click="imgClick(0,'C')" ng-class="{imgSelected:type==0}">
                    <img src="../../../../AppSelection/imgs/立式车床.jpg" class="img-rounded" alt="立式车床"/>
                    <div class="caption text-center">立式车床</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail" ng-click="imgClick(1,'X')" ng-class="{imgSelected:type==1}">
                    <img src="../../../../AppSelection/imgs/立式铣床.jpg" class="img-rounded" alt="立式铣床"/>
                    <div class="caption text-center">立式铣床</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail" ng-click="imgClick(2,'X')" ng-class="{imgSelected:type==2}">
                    <img src="../../../../AppSelection/imgs/龙门铣床.jpg" class="img-rounded" alt="龙门铣床"/>
                    <div class="caption text-center">龙门铣床</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail" ng-click="imgClick(3,'C')" ng-class="{imgSelected:type==3}">
                    <img src="../../../../AppSelection/imgs/卧式车床.jpg" class="img-rounded" alt="卧式车床"/>
                    <div class="caption text-center">卧式车床</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail" ng-click="imgClick(4,'X')" ng-class="{imgSelected:type==4}">
                    <img src="../../../../AppSelection/imgs/卧式铣床.jpg" class="img-rounded" alt="卧式铣床"/>
                    <div class="caption text-center">卧式铣床</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail" ng-click="imgClick(5,'C')" ng-class="{imgSelected:type==5}">
                    <img src="../../../../AppSelection/imgs/斜床身车床.jpg" class="img-rounded" alt="斜床身车床"/>
                    <div class="caption text-center">斜床身车床</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail" ng-click="imgClick(6,'M')" ng-class="{imgSelected:type==6}">
                    <img src="../../../../AppSelection/imgs/磨床.jpg" class="img-rounded" alt="磨床"/>
                    <div class="caption text-center">磨床</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-8 col-md-2">
                <button type="button" class="btn btn-primary" ng-click="nextStep()" ng-disabled="type==-1">下 一 步</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" ng-click="reset()">取 消</button>
            </div>
        </div>
    </div>
</div>